---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/global.css";
import "@fontsource-variable/exo-2";
import { SITE_TITLE } from "@/consts";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/knowledge-base-placeholder-1.jpg",
} = Astro.props;

// Format the full title with site name only if it's not already included
const fullTitle = title?.includes(SITE_TITLE)
  ? title
  : `${title || "Untitled"} | ${SITE_TITLE}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/icon-dots.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font styles -->
<style is:global>
  @font-face {
    font-family: "Good Times";
    src: url("/fonts/good-times-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
