---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/react/ContactForm";
import { WorldMap } from "@/components/react/WorldMap";
import {
  Card,
  CardHeader,
  CardContent,
  CardDescription,
} from "@/components/react/ui/card";

interface Manager {
  title: string;
  name: string;
  email: string;
  phone: string;
}

interface Region {
  name: string;
  location: string;
  manager?: Manager;
  website?: string;
}

const regions: Region[] = [
  {
    name: "US - HQ & Manufacturing",
    location: "Loveland, Colorado",
    manager: {
      title: "Sales Manager – North America",
      name: "Peter Ryczek",
      email: "peter.ryczek@rubadue.com",
      phone: "+1 970 313 4551",
    },
  },
  {
    name: "EMEA – Direct Sales & Service",
    location: "York, UK",
    manager: {
      title: "Sales Manager – EMEA",
      name: "Tony Rawson",
      email: "tony.rawson@rubadue.com",
      phone: "+44 (0) 7799 710914",
    },
  },
  {
    name: "APAC – Direct Sales & Service",
    location: "Hong Kong | China",
    manager: {
      title: "Sales Manager – APAC",
      name: "Gabriel Tam",
      email: "gabriel.tam@rubadue.com",
      phone: "+86 13923871270",
    },
  },
];

const generalInquiries = {
  email: "sales@rubadue.com",
  website: "www.Rubadue.com",
  phone: "+1 970 351 6100",
};
---

<BaseLayout
  title="Contact Us | Rubadue Wire"
  description="Contact Rubadue Wire for sales, support, and more."
  category="Contact"
  eyebrow="Contact"
  headerTitle="Get in touch"
>
  <div class="relative isolate bg-background">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-24 pb-32">
      <div class="mx-auto grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-16">
        {/* Left Column - Contact Info */}
        <div>
          <div class="max-w-2xl">
            <div class="space-y-12">
              {
                regions.map((region) => (
                  <div class="space-y-6">
                    <div>
                      <h3 class="text-2xl font-semibold text-foreground">
                        {region.name}
                      </h3>
                      <p class="text-lg text-muted-foreground">
                        {region.location}
                      </p>
                    </div>
                    {region.manager && (
                      <div class="space-y-4">
                        <div>
                          <p class="font-semibold text-foreground">
                            {region.manager.title}
                          </p>
                          <p class="text-accent-foreground">
                            {region.manager.name}
                          </p>
                        </div>
                        <div class="space-y-2">
                          <a
                            href={`mailto:${region.manager.email}`}
                            class="block text-primary hover:underline"
                          >
                            {region.manager.email}
                          </a>
                          <a
                            href={`tel:${region.manager.phone}`}
                            class="block text-primary/80 hover:underline"
                          >
                            {region.manager.phone}
                          </a>
                        </div>
                      </div>
                    )}
                  </div>
                ))
              }

              {/* General Inquiries */}
              <div class="pt-6 border-t border-border">
                <h3 class="text-xl font-semibold text-foreground">
                  General Inquiries
                </h3>
                <div class="mt-4 space-y-2">
                  <a
                    href={`mailto:${generalInquiries.email}`}
                    class="block text-primary hover:underline"
                  >
                    {generalInquiries.email}
                  </a>

                  <a
                    href={`tel:${generalInquiries.phone}`}
                    class="block text-primary hover:underline"
                  >
                    {generalInquiries.phone}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {/* Right Column - Contact Form */}
        <div class="lg:pl-8 lg:border-l border-border lg:col-span-2">
          <Card className="shadow-lg">
            <CardHeader className="space-y-2">
              <h3 class="text-2xl font-semibold">
                Let's talk about your project.
              </h3>
              <CardDescription className="text-lg">
                Fill out the form below and we'll get back to you as soon as
                possible to discuss your needs.
              </CardDescription>
            </CardHeader>
            <CardContent>
              <ContactForm client:load />
            </CardContent>
          </Card>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
