---
import BaseHead from "@/components/astro/layout/BaseHead.astro";
import { Header } from "@/components/react/Header";
import Footer from "@/components/astro/layout/Footer.astro";
import { getCollection } from "astro:content";
import ProductListingPage from "@/components/react/ProductListingPage";
import Breadcrumbs from "@/components/astro/layout/Breadcrumbs.astro";

const products = await getCollection("products");
const sortedProducts = products.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const categories = [...new Set(products.map((post) => post.data.category))];

const title = "Product Catalog";
const description =
  "Browse our complete catalog of high-quality wire and cable products.";

// Build breadcrumb segments
const segments = [{ name: "Products", href: "/products" }];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen bg-background">
    <Header client:load />
    <main>
      <div class="container mx-auto px-4 py-6">
        <div class="mb-6">
          <Breadcrumbs segments={segments} />
        </div>
        <ProductListingPage
          client:load
          products={sortedProducts}
          categories={categories}
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
