---
import BaseHead from "@/components/astro/layout/BaseHead.astro";
import { Header } from "@/components/react/Header";
import Footer from "@/components/astro/layout/Footer.astro";
import ProductPage from "@/components/react/ProductPage";
import Breadcrumbs from "@/components/astro/layout/Breadcrumbs.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  heroImage?: ImageMetadata | string;
  overview?: string;
  applications?: string[];
  specifications?: {
    conductor?: string;
    insulation?: string;
    temperature?: string;
    voltage?: string;
    tensileStrength?: string;
  };
  compliances?: string[];
  systemApprovals?: string[];
  category: string;
  reviews?: {
    average: number;
    featured: Array<{
      id: number;
      rating: number;
      content: string;
      date: string;
      datetime: string;
      author: string;
      avatarSrc: string;
    }>;
  };
  faqs?: Array<{
    question: string;
    answer: string;
  }>;
  license?: {
    href: string;
    summary: string;
    content: string;
  };
}

const props = Astro.props;

// Build breadcrumb segments
const segments = [
  { name: "Products", href: "/products" },
  {
    name: props.category,
    href: `/products?category=${props.category.toLowerCase().replace(" ", "-")}`,
  },
  { name: props.title, href: Astro.url.pathname },
];

// Default placeholder image
import placeholderImage from "@/assets/rubadue-hero.webp";
import { Card, CardContent } from "@/components/react/ui/card";
import BaseHeader from "@/components/astro/layout/BaseHeader.astro";
const heroImage = props.heroImage || placeholderImage;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={props.title} description={props.description} />
  </head>
  <body class="min-h-screen">
    <Header client:load />
    <BaseHeader eyebrow={props.category} title={props.title} client:load />
    <div class="mb-6">
      <Breadcrumbs segments={segments} />
    </div>
    <main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pt-12 pb-24">
      <ProductPage
        client:load
        product={{
          name: props.title,
          description: props.description,
          imageSrc: heroImage,
          imageAlt: props.title,
          specifications: props.specifications,
          compliances: props.compliances,
          systemApprovals: props.systemApprovals,
          category: props.category,
          overview: props.overview,
          applications: props.applications,
        }}
        reviews={props.reviews}
        faqs={props.faqs}
        license={props.license}
      />

      <article class="max-w-none">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
